<div class="container">
    <h1>{{title}}</h1>
    <a (click)="clickHandler($event)" class="btn btn-primary">{{buttonTitle}}</a>
    <br>
    <form *ngIf="showForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input [(ngModel)]="obj.name" type="text" class="form-control" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input [(ngModel)]="obj.lastname" type="text" class="form-control" name="exampleInputPassword1" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Handle</label>
            <input [(ngModel)]="obj.handle" type="text" class="form-control" name="exampleInputPassword1" placeholder="Handle">
        </div>
        <button (click)="handlerSubmit($event)" class="btn btn-primary">Submit</button>
    </form>

    <h2 *ngIf="data.length === 0">No hay elementos</h2>
    <table class="table" *ngIf="data.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.handle}}</td>
                <td><a (click)="loadForm(item)" class="btn btn-primary">Update</a><a (click)="detail(item)" class="btn btn-primary">Detail</a><a (click)="delete(item.id)" class="btn btn-primary">Delete</a></td>
            </tr>
        </tbody>

    </table>
    <input type="text" [value]="variable">
    <br>
    <app-detail *ngIf="showDetail" [item]="this.item"></app-detail>
</div>